!!! 5
html
  head
    meta(charset="utf-8")
  body
    h1 test
    input(type="text", id="msg")
    button.toto 300
    button.titi 500
    button.tutu 2000
    :coffeescript
      ws = new WebSocket('ws://127.0.0.1:9999/')
      ws.onopen = ()=>
        ws.send("113");
        ws.send("114");
      ws.onmessage = (e)-> 
        console.log e
      ws.onclose = ()=>
        ws.send("disconnected");

      q = document.querySelector('button.toto')
      q.onclick = ()=>
        msg = "0123456789"
        cpt = 0
        buf = ""
        while cpt < 30
          buf += msg
          cpt++
        ws.send(buf)

      q = document.querySelector('button.titi')
      q.onclick = ()=>
        msg = "0123456789"
        cpt = 0
        buf = ""
        while cpt < 50
          buf += msg
          cpt++
        ws.send(buf)

      q = document.querySelector('button.tutu')
      q.onclick = ()=>
        msg = "0123456789"
        cpt = 0
        buf = ""
        while cpt < 200
          buf += msg
          cpt++
        ws.send(buf)
